Repository kemalcany/overflying: changes, and which Codecov flags are due for each by the changed paths.
All: api, web, worker

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 1%

flags:
  api:
    paths:
      - apps/api/
    carryforward: true
  web:
    paths:
      - apps/web/
    carryforward: true
  worker:
    paths:
      - apps/worker/
    carryforward: true

comment:
  layout: "header, flags, files"
  behavior: default

fix: workflows poetry pytest command
  .github/workflows/reusable-test-python.yml
Due: none

fix: workflows python as production
  apps/api/Dockerfile
Due: api

fix: added nats to the api container
  .github/workflows/reusable-deploy-gke.yml
  .github/workflows/reusable-test-python.yml
  apps/api/Dockerfile
Due: api

chore: old product name (constellation) renamed with overflying
  .github/workflows/deploy-api.yml
  .github/workflows/deploy-worker.yml
  apps/api/__init__.py
  apps/api/src/__init__.py
  apps/api/src/main.py
  apps/api/tests/__init__.py
  apps/web/tests/e2e/job-crud.spec.ts
  infra/README.md
  k8s/infrastructure/nats-deployment.yaml
  k8s/worker/README.md
  openapi/spec-generated.json
  openapi/spec.yaml
  ruff.toml
Due: api, web

deploy: fresh
  Makefile
  apps/api/src/main.py
  apps/web/src/app/page.tsx
  apps/web/src/providers/query.tsx
Due: api, web

fix: nats_url and config reorganisation
  apps/api/src/config.py
  apps/api/src/main.py
  k8s/api/production-deployment.yaml
  k8s/api/staging-deployment.yaml
Due: api

fix: api cloud sql proxy fix
  k8s/api/production-deployment.yaml
  k8s/api/staging-deployment.yaml
Due: none

fix: Cloud SQL Proxy setup and workflow outputs
  .github/workflows/reusable-build-push-python.yml
Due: none

trigger api workflow
  apps/api/src/main.py
Due: api

fix: handle empty image_tag in deployment workflow
  .github/workflows/reusable-deploy-gke.yml
Due: none

fix: worker deployment with Cloud SQL Proxy
  apps/worker/Dockerfile
  k8s/worker/production-deployment.yaml
  k8s/worker/staging-deployment.yaml
Due: worker

fix: worker database.py import to use relative import
  apps/worker/src/database.py
Due: worker

fix: use absolute imports in worker for test compatibility
  apps/worker/Dockerfile
  apps/worker/src/database.py
  apps/worker/src/main.py
Due: worker

feat: update spline
  apps/web/src/app/layout.tsx
  apps/web/src/app/page.tsx
Due: web

reogranise: docs
  docs/unorganized/FIX_DOCKER_COMPOSE_TEST.md
  docs/unorganized/GCP_SETUP.md
  docs/unorganized/OBSERVABILITY_INITIAL_CHAT.md
  docs/unorganized/PLAN_A_IMPLEMENTATION_SUMMARY.md
Due: none

Track Claude project settings
  .claude/settings.local.json
  .gitignore
Due: none

test: claude code token saving settings
  .claude/scripts/validate-bash.sh
  .claude/settings.local.json
Due: none

feat: initial observability setup deployment testing (with claude code)
  apps/api/poetry.lock
  apps/api/pyproject.toml
  apps/api/src/main.py
  apps/api/src/metrics.py
  apps/worker/poetry.lock
  apps/worker/pyproject.toml
  apps/worker/src/main.py
  apps/worker/src/metrics.py
  docs/OBSERVABILITY_DEPLOYMENT.md
  k8s/api/production-deployment.yaml
  k8s/api/staging-deployment.yaml
  k8s/infrastructure/nats-deployment.yaml
  k8s/observability/README.md
  k8s/observability/grafana-configmap.yaml
  k8s/observability/grafana-dashboards-detailed.yaml
  k8s/observability/grafana-dashboards.yaml
  k8s/observability/grafana-deployment.yaml
  k8s/observability/prometheus-configmap.yaml
  k8s/observability/prometheus-deployment.yaml
  k8s/observability/prometheus-namespace.yaml
  k8s/observability/prometheus-rbac.yaml
  k8s/worker/production-deployment.yaml
  k8s/worker/staging-deployment.yaml
  scripts/deploy-observability.sh
Due: api, worker

test: fixes after observability
  apps/api/.coverage
  apps/api/src/metrics.py
  apps/worker/src/metrics.py
Due: api, worker

fix: python test fixes after observability
  docs/OBSERVABILITY_INGRESS_SETUP.md
  k8s/observability/grafana-deployment.yaml
  k8s/observability/observability-ingress.yaml
  scripts/deploy-observability.sh
Due: none

fix: add OpenTelemetry dependencies to Dockerfiles
  apps/api/Dockerfile
  apps/worker/Dockerfile
Due: api, worker

chore: api and worker fixes poetry package updates
  Makefile
  apps/api/poetry.lock
  apps/api/pyproject.toml
  apps/api/src/metrics.py
  apps/worker/poetry.lock
  apps/worker/src/main.py
  apps/worker/src/metrics.py
Due: api, worker

chore: web nonmajor package updates
  Makefile
  apps/web/bun.lock
  apps/web/package-lock.json
  apps/web/package.json
Due: web

chore: apps/web package updates (all packages) and jsdom replaced with happydom to resolve locked version dependencies
  apps/web/bun.lock
  apps/web/package.json
  apps/web/vitest.config.ts
Due: web

refactor: initial reorganisation of web repo Next.js file structure
  .gitignore
  apps/api/src/main.py
  apps/web/next.config.ts
  apps/web/src/app/admin/page.tsx
  apps/web/src/app/loading.tsx
  apps/web/src/app/page.tsx
  apps/web/src/lib/__tests__/api.test.ts
  apps/web/src/lib/api.ts
Due: api, web

feat: mcp.json and next.config.js mcp setting added
  apps/web/mcp.json
  apps/web/next.config.ts
Due: web

refactor: globe repo removed from git
  .env.example
  .gitignore
  Makefile
  apps/globe/.gitignore
  apps/globe/BUNDE_LOGS.md
  apps/globe/IMPLEMENTATION_SUMMARY.md
  apps/globe/QUICKSTART.md
  apps/globe/README.md
  apps/globe/RESIUM_GLOBE_GUIDE.md
  apps/globe/bun.lock
  apps/globe/next.config.ts
  apps/globe/package.json
  apps/globe/src/app/layout.tsx
  apps/globe/src/app/page.tsx
  apps/globe/src/components/ResiumGlobe/ARCHITECTURE.md
  apps/globe/src/components/ResiumGlobe/README.md
  apps/globe/src/components/ResiumGlobe/components/RectangleCursor.tsx
  apps/globe/src/components/ResiumGlobe/hooks/useAreaSelection.ts
  apps/globe/src/components/ResiumGlobe/hooks/useKeyboardControls.ts
  apps/globe/src/components/ResiumGlobe/hooks/useResiumViewer.ts
  apps/globe/src/components/ResiumGlobe/index.tsx
  apps/globe/src/components/ResiumGlobe/types.ts
  apps/globe/src/components/ResiumGlobe/utils/calculations.ts
  apps/globe/src/components/ResiumGlobe/utils/constants.ts
  apps/globe/tsconfig.json
Due: none

fix: next tsconfig for using window
  apps/web/next-env.d.ts
  apps/web/src/app/admin/page.tsx
  apps/web/tsconfig.json
Due: web

web: chore: package updates
  apps/web/bun.lock
  apps/web/package.json
  apps/worker/pyproject.toml
Due: web, worker

web: fix: build:a analyse command fixed with spline package
  apps/web/README.md
  apps/web/next.config.ts
Due: web

web: test: semoved spline from bundle test production
  .gitignore
  apps/web/README.md
  apps/web/bun.lock
  apps/web/next.config.ts
  apps/web/package.json
  apps/web/src/components/SplineScene.tsx
Due: web

web: try the improved spline scene with one import
  apps/web/eslint.config.js
  apps/web/next-env.d.ts
  apps/web/src/components/SplineScene.tsx
Due: web

chore: added external_figma folder but not to git (gitignore edit)
  .gitignore
Due: none

web: wip: figma migration initial layouts
  apps/web/package.json
  apps/web/src/app/(dashboard)/admin/page.tsx
  apps/web/src/app/(dashboard)/jobs/page.tsx
  apps/web/src/app/(dashboard)/layout.tsx
  apps/web/src/app/(public)/layout.tsx
  apps/web/src/app/(public)/login/page.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/app/page.tsx
  apps/web/src/components/AppSidebar.tsx
Due: web

web: output mode changed to standalone and jobs.id dynamic pages added (dummy at the moment)
  apps/web/README.md
  apps/web/next-env.d.ts
  apps/web/next.config.ts
  apps/web/package.json
  apps/web/src/app/(dashboard)/jobs/[id]/page.tsx
  apps/web/src/app/(dashboard)/jobs/page.tsx
  apps/web/src/app/(dashboard)/layout.tsx
  apps/web/src/app/(public)/layout.tsx
  apps/web/src/components/AppSidebar.tsx
Due: web

web: chore: new bun.lock fixed
  apps/web/bun.lock
  apps/web/next-env.d.ts
Due: web

web: pre moving back to static app and hosting on firebase app hosting
  apps/web/next-env.d.ts
  apps/web/next.config.ts
  apps/web/src/app/(public)/layout.tsx
  apps/web/src/components/SplineScene.tsx
Due: web

test: web: firebase app hosting initial rollouts
  .github/workflows/deploy-web.yml
  apps/web/FIREBASE_APP_HOSTING_SETUP.md
  apps/web/apphosting.production.yaml
  apps/web/apphosting.staging.yaml
  apps/web/firebase.json
  apps/web/next.config.ts
  apps/web/package-lock.json
  docs/old/DEPLOYMENT_SETUP.md
Due: web

web: fix: npm usage
  apps/web/package-lock.json
  apps/web/src/app/(dashboard)/jobs/page.tsx
Due: web

web: demploy yaml change
  .github/workflows/deploy-web.yml
Due: none
